<?xml version="1.0"?>
<model>
 <name>WTunnel</name>
 <version>1.0</version>
 <sdf version="1.8">model.sdf</sdf>

 <author>
   <name>Mason</name>
   <email>mason@kaist.ac.kr</email>
 </author>

 <description>
    A Loop closing mine made with mine in Virginia City from Tung Dang-MBP
 </description>
</model>
